@use 'restaurant.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body {
  background-color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  &_title {
    font-size: 32px;
    margin: 0;
    font-family: "Shrikhand", "cursive";
  }
}

.search-bar {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #e7e7e7;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.50);
  font-weight: bold
}


/* Section "food" */
.food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 30px;
  text-align: center;
  background-color: #f6f6f6;

  p {
    font-size: 20px;
    color: gray;
  }

  &_title {
    font-size: 32px;
    margin: 0;
  }

  &_button {
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(221, 121, 218, 0.9) 100%);
    text-decoration: none;
    padding: 20px;
    color: white;
    border-radius: 100px;
    margin-top: 20px;
    transition-duration: 0.25s;

    &:hover {
      box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    }
  }
}

/* Section "fonctionnement" */

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;

  @media (min-width: 1024px) {
    max-width: 90%;
    margin: 20px auto;
  }

  @media (min-width: 1440px) {
    max-width: 60%;
    margin: 20px auto;
  }

  &_position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 30px;
    }

  }

  &_button {
    background-color: #f6f6f6;
    border: 2px solid var(--filter-border-color);
    border-radius: 20px;
    padding: 25px;
    font-weight: 500;
    font-size: 16px;
    width: 78%;
    height: 30px;
    display: flex;
    gap: 5px;;
    margin: 20px 0;
    text-align: start;
    position: relative;
    align-items: center;
  }

  &_circle {
    display: flex;
    margin-left: 20px;
    gap: 15px;
  }

  &_number {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #9356DC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
    color: #e7e7e7;
    font-weight: bold;
  }

  &_icon {
    color: #9356DC;
  }
}


/* Section "restaurants" */
.restaurant {
  padding: 20px;
  background-color: #f6f6f6;

  h2 {
    margin: 20px auto;

    @media (min-width: 1024px) {
      max-width: 90%;
      margin: 20px auto;
    }

    @media (min-width: 1440px) {
      max-width: 61%;
      margin: 20px auto;
    }

  }

  &_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    gap: 25px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
      max-width: 90%;
      margin: auto;
    }
    @media (min-width: 1440px) {
      max-width: 61%;
    }

  }

  &_new {
    position: relative;
    width: 100%;
  }

  &_text {
    position: absolute;
    background-color: #99E2D0;
    width: 80px;
    height: 32px;
    text-align: center;
    right: 16px;
    top: 16px;
    color: #278870;
    font-weight: 500;
  }

  &_footer-card {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    align-items: center;
  }

  &_footer-text {
    flex: 1;
  }

  &_card-title {
    margin: 0;
    padding: 13px 0 0 0;
    font-size: 17px;
    font-weight: 600;
  }

  &_card-text {
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 16px;
    font-weight: 300;
  }

  &_icons {
    background: black;
    background-clip: text;
    color: transparent;
    position: relative;
  }

  &_cards-size {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }
}


.my-heart-full:hover {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
  margin-left: auto;
}


/* Section "Footer" */
.footerlist {
  background-color: rgb(42, 39, 39);
  color: white;
  padding: 20px;
  gap: 30px;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;

    .item-1 {
      order: 4;
    }

    .item-2 {
      order: 3;
    }

    .item-3 {
      order: 2;
    }

    .item-4 {
      order: 1;
    }
  }

}

footer p {
  margin: 10px 0;
}

.footerfood {
  font-family: "Shrikhand", "cursive";

}

.footerrestaurant{
  display: flex;
  gap : 5px;
}

.footerreverse{
  display: flex;
  gap: 30px;
}

.footerespace{
  display: flex;
  align-items: center;
  gap : 5px;
}